build/
xcuserdata/
Pods/
*.pbxuser
*.xcworkspace
*.ipa
.build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/*.dSYM.zip
.DS_Store

.bundle/config
